### 20 Basic Beginner Loop Practice Questions

1. Print numbers from 1 to 10 using a loop.
2. Print all even numbers between 1 and 20.
3. Print the multiplication table of 5.
4. Print the sum of numbers from 1 to 100.
5. Print each character of a given string using a loop.
6. Print all elements of a given list using a loop.
7. Print numbers from 10 to 1 in reverse order.
8. Print the squares of numbers from 1 to 10.
9. Print only the odd numbers from 1 to 20.
10. Print the factorial of a given number using a loop.
11. Print the elements of a list in reverse order.
12. Print the first 10 Fibonacci numbers.
13. Print all numbers from 1 to 50 that are divisible by 3.
14. Print the sum of all even numbers between 1 and 50.
15. Print all vowels in a given string.
16. Print the length of each word in a given list of words.
17. Print the product of all numbers in a given list.
18. Print all numbers between 1 and 100 that are multiples of both 3 and 5.
19. Print the largest number in a given list using a loop.
20. Print a pattern of stars in the shape of a right triangle with 5 rows.

In [3]:
arr = [ 1, 5, 10, True, 67.8, "India"]
for data in arr:
    print(type(data),end=" ")

<class 'int'> <class 'int'> <class 'int'> <class 'bool'> <class 'float'> <class 'str'>

In [4]:
arr = [1,5,True, 78.9, "India"]
print("lenght of array is", len(arr))

lenght of array is 5

In [8]:
arr = [1,2,4,6,9]
for data in arr:
    print(data,end=' ')
print()
for i in range(len(arr)):
    print(arr[i],end=" ")

1 2 4 6 9
1 2 4 6 9

In [ ]:
n = int(input())
for data in arr:
    if data == n:
        print("yes")
        break
    else:
        print("no")

In [9]:
if 6 in arr:
    print("yes")
else:
    print("no")

yes

In [ ]:
arr = ["India","Hyderabad","RCB","IND VS PAK","AIML","Wipro"]
for data in arr:
    print(len(data),end=" ")
arr.pop()
print(*arr)

5 9 3 10 4 5 India Hyderabad RCB IND VS PAK AIML

In [17]:
n = int(input())
arr = []
data = input("Enter data: ")
print(data)
print(type(data))

78 65 90 99
<class 'str'>

In [19]:
n = int(input())
arr = []
for i in range(1, n+1, 2):
    arr.append(i)
print("Array:", arr)

Array: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65]

In [25]:
arr = [ 1,55,True, 78.7, "string"]
for data in arr:
    if str(data).isnumeric():
        print(data,type(data))

1 <class 'int'>
55 <class 'int'>

In [ ]:
# print squares of first n natural numbers
n= int(input())
arr =[]
for i in range(1,n+1):
    arr.append(i*i)
print(arr)

[1, 4, 9, 16, 25, 36]

In [ ]:
# printing fibonacci series
n = int(input())
arr = [0,1]
for i in range(2, n):
    arr.append(arr[-1] + arr[-2])
    print(arr)
print(arr[-1])

[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
3

There are 100 doors, all closed. In a nearby cage are 100 monkeys. The first monkey is let out and runs along the doors opening every one. 

The second monkey is then let out and runs along the doors closing the 2nd, 4th, 6th,…  - all the even-numbered doors. 

The third monkey is let out. He attends only to the 3rd, 6th, 9th,… doors (every third door, in other words), closing any that is open and opening any that is closed, and so on. 

After all 100 monkeys have done their work in this way, what state are the doors in after the last pass?

arr = [34, 123, 214, 41, 353, 98, 5, 66]
compare two adj element and print the greater
output: 
34 123
123 214
214 41
41 353
353 98
98 5 
5 66

In [ ]:
# printing two consecutive elements in an array
arr = [34, 123, 214, 41, 353, 98, 5, 66]
for i in range(len(arr)-1):
    print(arr[i],arr[i+1])

34 123
123 214
214 41
41 353
353 98
98 5
5 66

In [ ]:
# printing the maximum of two consecutive elements in an array
arr = [34, 123, 214, 41, 353, 98, 5, 66]
i = 0
while i < len(arr)-1:
    print(arr[i], arr[i+1], ":",end=" ")
    print(arr[i] if arr[i] > arr[i+1] else arr[i+1])
    i += 1

34 123 : 123
123 214 : 214
214 41 : 214
41 353 : 353
353 98 : 353
98 5 : 98
5 66 : 66

Print Max number in a array without using max or keywords

In [ ]:
# maximum and minimum element in an array
arr = [34, 123, 214, 41, 353, 98, 5, 66]
i = 1
res = arr[0]
while i < len(arr):
    if arr[i] > res:
        res = arr[i]
    i += 1
print("Maximum element is:", res)
i = 0
while i < len(arr):
    if arr[i] < res:
        res = arr[i]
    i += 1
print("Minimum element is:", res)

Maximum element is: 353
Minimum element is: 5

In [ ]:
# Armstrong number check
num = int(input("Enter a number: "))
check = num
res = 0
while num > 0:
    digit = num % 10
    res = res + digit**(len(str(check)))
    num = num // 10
print(res)
print("Armstrong number" if res == check else "Not an Armstrong number")

153
Armstrong number

In [ ]:
# print final result of a series
# print sum of series 2 + 22 + 222 + ... + n terms
n = int(input())
res = 0
temp =0
for i in range(n):
    temp = (temp * 10) + 2
    res+= temp
    
print(res)

24

In [13]:
'''Print pattern 
        * 
      *   * 
    *       * 
  *           * 
* * * * * * * * * '''
n= 8

a = 1
for i in range(1,n+1):
  if i == 1 or i == n:
    print(" "*(n-i) + "* " * i)
  else:
    print(" "*(n-i) + "*" + " "*a + "*")
    a += 2

       *
      * *
     *   *
    *     *
   *       *
  *         *
 *           *
* * * * * * * *

In [37]:
'''print pattern
* * * * * * * * *
  *           * 
    *       * 
      *   * 
        * '''
n = 5
for i in range(n, 0, -1):
    if i == 1:
        print("*"*(n*2 - 1))
    else:
        print("*"*(n-i)+"*"+" "*(2*(i-2)+1)+"*"+"*"*(n-i))

*       *
**     **
***   ***
**** ****
*********

In [ ]:
'''Print pattern
        * 
      *   * 
    *       * 
  *           * 
*               * 
  *           * 
    *       * 
      *   * 
        * '''
n = 8
a = 1
for i in range(1,n+1):
  if i == 1 :
    print(" "*(n-i) + "* " * i)
  else:
    print(" "*(n-i) + "*" + " "*a + "*")
    a += 2
  
for i in range(n-1, 0, -1):
    if i == 1:
        print(" "*(n-i) + "* " * i)
    else:
        print(" "*(n-i)+"*"+" "*(2*(i-2)+1)+"*")

       *
      * *
     *   *
    *     *
   *       *
  *         *
 *           *
*             *
 *           *
  *         *
   *       *
    *     *
     *   *
      * *
       *

In [32]:
n = 5
for i in range(n, 0, -1):
    if i == 1:
        print("*" *((n*2)-1))
    else:
        print("*"*(n-i)+"*"+" "*(2*(i-2)+1)+"*"*(n-i+1))

*       *
**     **
***   ***
**** ****
*********