In [ ]:
dictset ={
    'id': '12345',
    'name': 'John',
    'age': 30,
}
for data in dictset:
    print(data, dictset[data])
print('------------------')
for key, value in dictset.items():
    print(key, value)
dictset['city'] = 'New York'
for key, value in dictset.items():
    print(key, value)
print('------------------')
dictset['age'] = 31
for key, value in dictset.items():
    print(key, value)

id 12345
name John
age 30
------------------
id 12345
name John
age 30
id 12345
name John
age 30
city New York
------------------
id 12345
name John
age 31
city New York

In [5]:
employe ={
    dictset['id']: dictset,
    '67890': {
        'id': '67890',
        'name': 'Alice',
        'age': 28,
        'city': 'Los Angeles',
        'marks':{
            'math': 85,
            'science': 90,
            'english': 88
        }
    }
}
for emp_id, emp_data in employe.items():
    print(f'Employee ID: {emp_id}', emp_data)

Employee ID: 12345 {'id': '12345', 'name': 'John', 'age': 31, 'city': 'New York'}
Employee ID: 67890 {'id': '67890', 'name': 'Alice', 'age': 28, 'city': 'Los Angeles', 'marks': {'math': 85, 'science': 90, 'english': 88}}

In [6]:
del employe['67890']['marks']
for emp_id, emp_data in employe.items():
    print(f'Employee ID: {emp_id}', emp_data)

Employee ID: 12345 {'id': '12345', 'name': 'John', 'age': 31, 'city': 'New York'}
Employee ID: 67890 {'id': '67890', 'name': 'Alice', 'age': 28, 'city': 'Los Angeles'}

In [ ]:
students ={
    '1':{
        'name':'Vignesh',
        'dept':'EEE',
        'marks':{
            'maths':68,
            'science':65,
            'english':58,
        }
    },
    '2':{
        'name':'John',
        'dept':'ECE',
        'marks':{
            'maths':89,
            'science':85,
            'english':78,
        }
    }
}
for student_id, student_data in students.items():
    print('ID:',student_id)
    print('Name:', student_data['name'])
    print('Department:', student_data['dept'])
    for student_tag, student_value in student_data.items():
        if student_tag in ['name', 'dept']:
            continue
        if isinstance(student_value, dict):
            for subject, marks in student_value.items():
                print(f'{subject.capitalize()}: {marks}')
    print('------------------')

ID: 1
Name: Vignesh
Department: EEE
Maths: 68
Science: 65
English: 58
------------------
ID: 2
Name: John
Department: ECE
Maths: 89
Science: 85
English: 78
------------------

In [10]:
arr = [1, 6, 8, 8, 9 ,9, 10, 1, 1, 7]
dictArr = {}
for num in arr:
    if num in dictArr:
        dictArr[num] += 1
    else:
        dictArr[num] = 1
print(dictArr)

{1: 3, 6: 1, 8: 2, 9: 2, 10: 1, 7: 1}